<%= search_form_for search,
  url: volunteers_path,
  role: 'form',
  html: { class: 'form-inline' } do |f|
%>
  <div class='form-group'>
    <%= f.label :fullname_cont, class: 'sr-only' %>
    <%= f.text_field :fullname_cont,
      class: 'form-control',
      placeholder: t('.fullname')
    %>
  </div>
  <div class='form-group'>
    <%= f.label :region_cont, class: 'sr-only' %>
    <%= f.text_field :region_cont,
      class: 'form-control',
      placeholder: t('.region')
    %>
  </div>
  <%= f.submit t('search'), class: 'btn btn-default' %>
<% end %>
