%h1 Wolontariusze
.row
  .col-lg-6
    = render partial: 'search', locals: { search: @search }
%br/
%ul.list-unstyled
  - @users.each do |user|
    %li
      %blockquote
        .row
          .col-md-8
            %p
            %address
              %strong= link_to user.fullname, volunteer_path(user)
              %br/
              %small
                = user.region
                %br/
                = mail_to user.email
          .col-md-3
            - if user.last_activity_at
              %small= l user.last_activity_at, format: :activity
          .col-md-1
            %span.badge= user.dreams.count
          %div
