<div class='page-header'>
  <div class='row'>
    <div class='col-md-10'>
      <h1><%= @user.fullname %></h1>
    </div>
    <div class='col-md-2'>
      <div class='row'>
        <div class='col-md-6'>
          <address>
            <small>
              <%= @user.region %><br/>
              <%= mail_to @user.email %><br/>
              <%= l(@user.last_sign_in_at, format: :very_short) %>
            </small>
          </address>
        </div>
        <div class='col-md-6'>
          <span class='badge'><%= @user.dreams.count %></span>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <%= link_to t('.back', default: t('helpers.links.back')),
            volunteers_path,
            class: 'btn'
          %>
          <%= link_to t('.edit', default: t('helpers.links.edit')),
            edit_volunteer_path(@user), class: 'btn btn-default'
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <ul class='list-unstyled'>
    <%= render partial: 'dreams/dream', collection: @user.dreams%>
  </ul>
</div>
