<%= form_for @dream, html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :child_fullname, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :child_fullname, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :child_age, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :child_age, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :region, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :region, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, class: 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                dreams_path, class: 'btn' %>
  </div>
<% end %>
