<div class='row'>
  <div class='col-md-4'>
    <%= simple_form_for dream,
      defaults: {
        wrapper_html: { class: 'form-group'},
        input_html: { class: 'form-control' }
      } do |f|
    %>
      <%= f.input :title %>
      <%= f.input :description, as: :text %>
      <%= f.input :child_fullname %>
      <%= f.input :child_age, collection: Dream.age_range %>
      <%= f.input :avatar, as: :file %>
      <%= f.input :region, input_html: { list: 'regions' } %>
      <%= render 'volunteers/regions' %>
      <%= f.input :category, collection: Dream.categories_collection %>
      <%= f.input :step, collection: Dream.steps_collection.zip(0..5) %>
      <%= f.input :status, collection: dream_statuses %>

      <div>
        <%= f.submit nil, class: 'btn btn-default' %>
        <%= link_to t('.cancel',
          default: t('helpers.links.cancel')),
          dreams_path,
          class: 'btn'
        %>
      </div>
    <% end %>
  </div>
</div>
