<div class='row'>
  <div class='col-md-4'>
    <%= form_for dream,
      html: { class: 'form' } do |f|
    %>
      <div class='form-group'>
        <%= f.label :title %>
        <%= f.text_field :title,
          class: 'form-control',
          required: true
        %>
      </div>
      <div class='form-group'>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :child_fullname %>
        <%= f.text_field :child_fullname,
          class: 'form-control',
          required: true
        %>
      </div>
      <div class='form-group'>
        <%= f.label :child_age %>
        <%= f.number_field :child_age,
          class: 'form-control',
          in: dream.age_range
        %>
      </div>
      <div class='form-group'>
        <%= f.label :region %>
        <%= f.text_field :region,
          class: 'form-control',
          required: true
        %>
      </div>
      <div class='form-group'>
        <%= f.label :category%>
        <%= f.text_field :category, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :status %>
        <%= f.select :status, [
          [t(:in_progress), :in_progress],
          [t(:complete), :complete],
          [t(:failed), :failed]
        ], {},
        class: 'form-control'
        %>
      </div>

      <div>
        <%= f.submit nil, class: 'btn btn-default' %>
        <%= link_to t('.cancel',
          default: t('helpers.links.cancel')),
          dreams_path,
          class: 'btn'
        %>
      </div>
    <% end %>
  </div>
</div>