<%- model_class = Dream -%>
<div class="page-header">
  <h1><%= model_class.model_name.human(count: 2) %></h1>
</div>
<div class='row'>
  <div class='col-lg-11'>
      <%= render partial: 'search', locals: { search: @search } %>
  </div>
  <div class='col-lg-1'>
    <%= link_to t('.new', default: t('helpers.links.new')),
      new_dream_path,
      class: 'btn btn-primary'
    %>
  </div>
</div>
<br/>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:child_fullname) %></th>
      <th><%= model_class.human_attribute_name(:child_age) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:region) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
    </tr>
  </thead>
  <tbody>
    <% @dreams.each do |dream| %>
      <tr>
        <td><%= link_to dream.title, dream %></td>
        <td><%= dream.child_fullname %></td>
        <td><%= dream.child_age %></td>
        <td><%= dream.category %></td>
        <td><%= dream.region %></td>
        <td><%= dream.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
