<%- model_class = Dream -%>
<div class='page-header'>
  <div class='row'>
    <div class='col-md-3'>
      <%= image_tag @dream.avatar.large.url, class: 'img-thumbnail' %>
    </div>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-10'>
          <h1><%= @dream.title %></h1>
          <h2><small><%= @dream.child_fullname %>, <%= @dream.child_age %> <%= @dream.region %></small></h2>
        </div>
        <div class='col-md-1'>
          <%= @dream.category %>
        </div>
        <div class='col-md-1'>
          <%= dream_status(@dream.status) %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-8'>

        </div>
        <div class='col-md-1'>
          <%= link_to t('.back', default: t("helpers.links.back")),
            dreams_path, class: 'btn'
          %>
        </div>
        <div class='col-md-1'>
          <%= link_to t('.edit', default: t('helpers.links.edit')),
            edit_dream_path(@dream), class: 'btn btn-default'
          %>
        </div>
        <% unless @dream.users.include?(current_user) %>
          <div class='col-md-2'>
            <div class='form-actions'>
              <%= form_for(Member.new) do |f|%>
                <%= f.hidden_field :dream_id, value: @dream.id %>
                <%= f.submit class: 'btn btn-success' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'sponsors/inline_form' %>

<div class='form-search'>
  <%= form_for(Task.new) do |f| %>
    <%= f.collection_select(
        :sponsor_id,
        Sponsor.all,
        :id,
        :fullname
      )
    %>
    <%= select_tag(:option, options_for_select([['complete',true],['falied',false]])) %>
    <%= f.text_area :description%>
    <%= f.submit %>
  <% end %>
</div>
