<%- model_class = Dream -%>
<div class='page-header'>
  <div class='row'>
    <div class='col-md-3'>
      <%= image_tag @dream.avatar.large.url, class: 'img-thumbnail' %>
    </div>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-8'>
          <h1><%= @dream.title %></h1>
          <h2><small><%= @dream.child_fullname %>, <%= t('.years') %> <%= @dream.child_age %>, <%= @dream.region %></small></h2>
          <p><%= @dream.description %></p>
        </div>
        <div class='col-md-4'>
          <div class='row'>
            <div class='col-md-8'>
              <%= t(@dream.category) %>
            </div>
            <div class='col-md-4'>
              <%= dream_status(@dream.status) %>
            </div>
          </div>
          <%= render partial: 'dreams/show/team', locals: { users: @users } %>
        </div>
      </div>
      <%= render partial: 'dreams/show/actions', locals: { dream: @dream, member: @member } %>
    </div>
  </div>
</div>

<%= render 'dreams/show/tabs' %>
