<%- model_class = Dream -%>
<div class='page-header'>
  <div class='row'>
    <div class='col-md-3'>
      <%= image_tag @dream.avatar.large.url, class: 'img-thumbnail' %>
    </div>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-8'>
          <h1><%= @dream.title %></h1>
          <h2><small><%= @dream.child_fullname %>, <%= t('.years') %> <%= @dream.child_age %>, <%= @dream.region %></small></h2>
        </div>
        <div class='col-md-4'>
          <div class='row'>
            <div class='col-md-8'>
              <%= @dream.category %>
            </div>
            <div class='col-md-4'>
              <%= dream_status(@dream.step == 5 && @dream.status || :ongoing) %>
            </div>
          </div>
          <div class='row'>
            <% Dream.steps_collection.each_with_index do |step, index| %>
              <div class='col-md-8'>
                <%= step %>
              </div>
              <div class='col-md-4'>
                <%= dream_status(@dream.status) if @dream.step == index %>
                <%= dream_status(:failed) if @dream.step < index %>
                <%= dream_status(:completed) if @dream.step > index %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-8'>
        </div>
        <div class='col-md-1'>
          <%= link_to t('.back', default: t("helpers.links.back")),
            dreams_path, class: 'btn'
          %>
        </div>
        <div class='col-md-1'>
          <%= link_to t('.edit', default: t('helpers.links.edit')),
            edit_dream_path(@dream), class: 'btn btn-default'
          %>
        </div>
        <% unless @dream.users.include?(current_user) %>
          <div class='col-md-2'>
            <div class='form-actions'>
              <%= form_for(Member.new) do |f|%>
                <%= f.hidden_field :dream_id, value: @dream.id %>
                <%= f.submit class: 'btn btn-success' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <%= @dream.description %>
  </div>
</div>
<br/>
<%= render 'sponsors/inline_form' %>
<br/>
<%= render 'tasks/inline_form', task: @task, dream: @dream %>
<br/>
<ul class='list-unstyled'>
  <% @dream.tasks.each do |task| %>
    <li>
      <blockquote>
        <div class='row'>
          <div class='col-md-10'>
            <p>
              <%= link_to task.sponsor.fullname, sponsor_path(task.sponsor_id) %>:
              <%= task.description %>
            </p>
            <footer><%= link_to task.user.fullname, volunteer_path(task.user_id) %></footer>
          </div>
          <div class='col-md-1'>
            <%= link_to edit_task_path(task.id) do %>
              <span class='glyphicon glyphicon-edit'></span>
            <% end %>
          </div>
          <div class='col-md-1'>
            <%= task_status(task.result) %>
          </div>
        <div>
      </blockquote>
    </li>
  <% end %>
</ul>
