<%- model_class = Dream -%>
<div class='page-header'>
  <div class='row'>
    <div class='col-md-3'>
      <%= image_tag @dream.avatar.large.url, class: 'img-thumbnail' %>
    </div>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-10'>
          <h1><%= @dream.title %></h1>
          <h2><small><%= @dream.child_fullname %>, <%= @dream.child_age %> <%= @dream.region %></small></h2>
        </div>
        <div class='col-md-1'>
          <%= @dream.category %>
        </div>
        <div class='col-md-1'>
          <%= dream_status(@dream.status) %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-8'>
        </div>
        <div class='col-md-1'>
          <%= link_to t('.back', default: t("helpers.links.back")),
            dreams_path, class: 'btn'
          %>
        </div>
        <div class='col-md-1'>
          <%= link_to t('.edit', default: t('helpers.links.edit')),
            edit_dream_path(@dream), class: 'btn btn-default'
          %>
        </div>
        <% unless @dream.users.include?(current_user) %>
          <div class='col-md-2'>
            <div class='form-actions'>
              <%= form_for(Member.new) do |f|%>
                <%= f.hidden_field :dream_id, value: @dream.id %>
                <%= f.submit class: 'btn btn-success' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
    <%= simple_form_for @task,
      defaults:{
        wrapper_html: { class: 'form-group'},
        input_html: { class: 'form-control' }
      } do |f|
    %>
      <%= f.input :sponsor %>
      <%= f.select :result, [[:pending, nil],[:success, true],[:failed, false]] %>
      <%= f.input :description, as: :text%>
      <%= f.hidden_field :dream_id, value: @dream.id %>
      <%= f.submit nil, class: 'btn btn-default' %>
    <% end %>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th> Wolontariusz </th>
      <th> Sponsor </th>
      <th> Opis </th>
      <th> Status </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @dream.tasks.each do |task| %>
      <tr>
        <td><%= link_to task.user.fullname, volunteer_path(task.user_id) %></td>
        <td><%= link_to task.sponsor.fullname, sponsor_path(task.sponsor_id) %></td>
        <td><%= task.description %></td>
        <td><%= task.result %></td>
        <td><%= link_to 'Edytuj', edit_task_path(task.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
