%ul.list-unstyled
  - @dream.tasks.each do |task|
    %li
      %blockquote
        .row
          .col-md-10
            %p
              = link_to(task.sponsor.fullname, sponsor_path(task.sponsor_id)) if task.sponsor
              = task.description
            %footer= link_to task.user.fullname, volunteer_path(task.user_id)
          .col-md-1
            = link_to edit_task_path(task.id) do
              %span.glyphicon.glyphicon-edit
          .col-md-1
            = task_status(task.result)
          %div
