<div class='row'>
  <div class='col-md-4'>
    <%= form_for task,
      html: { class: 'form' } do |f|
    %>
      <div class='form-group'>
        <%= f.label :sponsor %>
        <%= f.select :sponsor,
          options_from_collection_for_select(Sponsor.all, :id, :fullname), {},
          class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.select :result,
          [
            [:pending, nil],[:success, true],[:failed, false]
          ], {},
          class: 'form-control'
        %>
      </div>
      <%= f.submit nil, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>