<div class='form-search'>
  <%= form_for task,
    html: { class: 'form-inline' } do |f|
  %>
    <div class='form-group'>
      <%= f.text_field :description,
        as: :text,
        class: 'form-control',
        placeholder: t('.description')
      %>
    </div>
    <div class='form-group'>
      <%= f.select :sponsor_id,
        options_from_collection_for_select(Sponsor.all, :id, :fullname
        ), { include_blank: 'Sponsor' },
        class: 'form-control',
        required: true
      %>
    </div>
    <div class='form-group'>
      <%= f.select :result,
        [[:pending, nil],[:success, true], [:failed, false]], {},
        class: 'form-control'
      %>
    </div>
    <%= f.hidden_field :dream_id, value: dream.id %>
    <%= f.submit class: 'btn btn-default' %>
  <% end %>
</div>