<nav class='navbar navbar-default' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
        <span class='sr-only'>Nawigacja</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='#'>MamMarzenie</a>
    </div>

    <div class='collapse navbar-collapse'>
      <% if user_signed_in? %>
        <ul class='nav navbar-nav'>
          <li class='active'>
            <%= link_to t('dreams'), dreams_path %>
          </li>
          <li>
            <%= link_to t('sponsors'), sponsors_path  %>
          </li>
          <li>
            <%= link_to t('volunteers'), volunteers_path %>
          </li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          <li>
            <a href='#'>
              <%= t('logged_in') %> <strong><%= current_user.fullname %></strong>
            </a>
          </li>
          <li>
            <%= link_to t('logout'), destroy_user_session_path, method: :delete
            %>
          </li>
        </ul>
      <% else %>
        <ul class='nav navbar-nav navbar-right'>
          <li>
            <%= link_to t('sign_up'), new_user_registration_path %>
          </li>
          <li><%= link_to t('sign_in'), new_user_session_path %>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
