<div class='row'>
  <div class='col-md-4'>
    <%= form_for @sponsor,
      html: { class: 'form' } do |f|
    %>
      <div class='form-group'>
        <%= f.label :fullname %>
        <%= f.text_field :fullname,
          class: 'form-control', required: true
        %>
      </div>
      <div class='form-group'>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :phone %>
        <%= f.telephone_field :phone, class: 'form-control' %>
      </div>

      <div>
        <%= f.submit nil, class: 'btn btn-default' %>
        <%= link_to t('.cancel',
          default: t('helpers.links.cancel')),
          sponsors_path, class: 'btn'
        %>
      </div>
    <% end %>
  </div>
</div>
