.row
  .col-md-4
    = simple_form_for @sponsor, defaults: { wrapper_html: { class: 'form-group'}, input_html: { class: 'form-control' } } do |f|
      = f.input :fullname, required: true, input_html: { required: true }
      = f.input :description, as: :text
      = f.input :email
      = f.input :phone

      .actions
        = f.submit nil, class: 'btn btn-default'
        = link_to 'Anuluj', sponsors_path, class: 'btn'
