<div class='form-actions'>
  <%= form_for Sponsor.new, html: { class: 'form-inline' } do |f|%>
    <div class='form-group'>
      <%= f.text_field :fullname,
        required: true,
        class: 'form-control',
        placeholder: t('.fullname')
      %>
    </div>
    <div class='form-group'>
      <%= f.email_field :email,
        class: 'form-control',
        placeholder: t('.email')
      %>
    </div>
    <div class='form-group'>
      <%= f.telephone_field :phone,
        class: 'form-control',
        placeholder: t('.phone')
      %>
    </div>
    <%= f.submit 'Dodaj sponsora', class: 'btn btn-default' %>
  <% end %>
</div>
