<%= search_form_for search,
  url: sponsors_path,
  role: 'form',
  html: { class: 'form-inline' } do |f|
%>
  <div class='form-group'>
    <%= f.label :fullname_cont, class: 'sr-only' %>
    <%= f.text_field :fullname_cont,
      class: 'form-control',
      placeholder: t('.fullname'),
      autofocus: true
    %>
  </div>
  <%= f.submit t('search'), class: 'btn btn-default' %>
  <%= f.button t('clear'), type: :reset, class: 'btn' %>
<% end %>
