<%- model_class = Sponsor -%>

<div class='page-header'>
  <div class='row'>
    <div class='col-lg-11'>
      <h1><%= t('.title') %></h1>
    </div>
    <div class='col-lg-1'>
      <%= link_to t('.new', default: t('helpers.links.new')),
        new_sponsor_path,
        class: 'btn btn-primary'
      %>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-lg-6'>
    <%= render 'search', search: @search %>
  </div>
</div>
<br/>
<ul class='list-unstyled'>
  <% @sponsors.each do |sponsor| %>
    <li>
      <blockquote>
        <div class='row'>
          <div class='col-md-10'>
            <p>
              <address>
                <strong><%= link_to sponsor.fullname, sponsor_path(sponsor) %></strong><br/>
                <small><%= sponsor.phone %><br/>
                <%= mail_to sponsor.email %></small>
              </address>
            </p>
          </div>
          <div class='col-md-1'>
             <%= link_to edit_sponsor_path(sponsor) do %>
                <span class='glyphicon glyphicon-edit'></span>
             <% end %>
          </div>
          <div class='col-md-1'>
            <span class='badge'><%= sponsor.dreams.count %></span>
          </div>
        <div>
      </blockquote>
    </li>
  <% end %>
</ul>
