<%- model_class = Sponsor -%>
<div class='page-header'>
  <div class='row'>
    <div class='col-md-10'>
      <h1><%= @sponsor.fullname %></h1>
    </div>
    <div class='col-md-2'>
      <div class='row'>
        <div class='col-md-6'>
          <address>
            <small><%= @sponsor.phone %><br/>
            <%= mail_to @sponsor.email %></small>
          </address>
        </div>
        <div class='col-md-6'>
          <span class='badge'><%= @sponsor.dreams.count %></span>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <%= link_to t('.back', default: t('helpers.links.back')),
            sponsors_path,
            class: 'btn'
          %>
          <%= link_to t('.edit', default: t('helpers.links.edit')),
            edit_sponsor_path(@sponsor), class: 'btn btn-default'
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'><%= @sponsor.description %></div>
</div>
<br/>

<ul class='list-unstyled'>
  <%= render partial: 'dreams/dream', collection: @sponsor.dreams%>
</ul>
